@media(min-width:571px){
  .lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .lista img{
    width: 100%;
  }
}

@media(max-width:570px)
{
  .lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width:400px ;
  }
}